.tracksContainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: lightgrey;

  .tracksInner {
    .ticks {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin: 7px 0;

      .tick {
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 100%;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          // background-color: var(--spectrum-accent-background-color-default);
          background-color: slategray;
          color: white;
          font-size: 12px;
        }
      }
    }

    .track {
      background-color: lightgray;
      margin-bottom: 10px;

      .trackInner {
        position: relative;
        height: 100px;

        .item {
          position: absolute;
          height: 100%;
          background-color: white;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s all ease-in-out;

          &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            transition: 0.2s all ease-in-out;
          }
        }
      }

      &.videoTrack {
        .trackInner {
          .item {
            background-color: white;
            width: 100%;
          }
        }
      }
      &.zoomTrack {
        .trackInner {
          .item {
            background-color: white;
          }
        }
      }
    }
  }
}
