@import "./shared.scss";

.main {
  @extend .copy;
}

.sources {
  padding: 25px;

  h1 {
    font-size: 24px;
    margin: 0 0 15px 0;
  }

  .sourceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;

    video {
      max-width: 100%;

      &.selected {
        border: 2px solid #ff0000;
      }
    }

    li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;

      &.selected {
        border: 2px solid #ff0000;
      }
    }
  }
  .ctrls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
